.back {
  background-image: url(../../../public/images/back.jpg);
  background-color: transparent;
  background-attachment: fixed;
}

.main {
  background-color: rgba(117, 136, 187, 0.5);
  border: rgba(255, 255, 255, 0);
  max-width: 1400px;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  min-height: 0px;
}

.basic {
  min-height: 1vh;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  color: #6d057046;
  border: rgba(255, 255, 255, 0);
}

h4 {
  font-size: 25px;
  font-weight: 400;
}

/* .ava {
  width: 100%;
  height: 100%;
  max-width: auto;
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  padding: auto;
  margin: auto;
} */

.lcanva {
  /* height: 100%;
  width: 100%; */
  min-height: 1vh;
  margin: 100px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  background-color: rgba(117, 136, 187, 0);
  color: #6d057046;
}

.leftside {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}
.rcanva {
  height: 100%;
  width: 100%;
  min-height: 1vh;
  margin: -100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
  background-color: rgba(117, 136, 187, 0);
  color: #6d057046;
}

.rightside {
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: right;
}

.fieldname {
  /* height: 100%;
  width: 100%; */
  padding: 15px;
  margin: 0px;
  margin-left: -130px;
  margin-right: -130px;
  /* padding-right: 115px;
  padding-left: 115px; */
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  background-color: #b955b479;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
  color: rgb(255, 230, 0);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /* border-color: #ffffff00; */
}

.complete {
  /* min-height: 1vh; */
  max-width: 1400px;
  height: 59px;
  margin: 0px;
  background-color: rgba(117, 136, 187, 0.5);
  /* border: none; */
  /* border-width: 0px; */
  margin-left: -447px;
  margin-right: auto;
  /* border-color: #ffffff00; */
}

.btn {
  width: 100%;
  height: 100%;
  max-width: auto;
  min-height: 1vh;
  padding: auto;
  font-size: 14px;
  margin: 5px;
  font-weight: 400;
  line-height: 1.5;
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 196, 0); */
  background-color: rgb(255, 230, 0);
  color: #6a116b;
}

.list-group-mine .list-group-item {
  width: 400px;
  padding: 20px;
  font-size: 20px;
  background-color: #b955b400;
  border-top: 1px solid rgb(0, 0, 0);
  border-left-color: #b955b400;
  border-right-color: rgba(0, 0, 0, 0);
  color: rgb(255, 230, 0);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.list-group-mine .list-group-item:hover {
  background-color: rgb(255, 230, 0);
  color: #6a116b;
}

a:hover {
  color: #6a116b;
}

.forma {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item {
  width: 200px;
  font-size: 20px;
  padding: auto;
  border-top: rgba(0, 0, 0, 0);
  /* border-top-right-radius: 50px; */
  /* border-bottom-right-radius: 50px; */
  /* border-top-left-radius: 50px; */
  /* border-bottom-left-radius: 50px; */
}

.nav-item:hover {
  background-color: rgb(255, 230, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* 
.nav-link.active .nav-tabs .nav-item.show .nav-link {
  color: #910e0e;

  background-color: #2399fb;

  border-color: #26415c #395a7c rgb(243, 30, 30);
} */

.delete {
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
}
