body{
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card{
    width: 320px;
    border-radius: 50px;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body{
    margin: 50px 0 !important;
}

.card-text{
    font-size: .9rem;
    padding: 5px 15px;
}

.container-fluid .row{
    padding-top: 95px;
}


.overflow{
    overflow: hidden;
    border-radius: 50px 50px 0px 0px;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
    border-radius: 50px 50px 0px 0px;
}

.card-img-top:hover{
    transform: scale(1.2);
}

.btn{
    border-radius: 50px;
}

