.present {
  /* margin-left: 410px;
  margin-top: 110px; */
  font-family: "Beth Ellen", cursive;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  color: #ffd043;
  /* font-family: "Dancing Script", cursive; */
}

h3 {
  color: #ffd043;
  font-size: 40px;
  font-weight: 600px;
  font-family: "Comfortaa", cursive;
}

form {
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-height: 1vh;
  padding: 15px;
  padding-top: 35px;
  padding-bottom: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* background-color: #80108a25; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  height: 100%;
  width: 100%;
  min-height: 1vh;
  margin: auto;
  padding: 10px;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: rgba(97, 29, 153, 0);
  padding: 5px;
}

button[type="submit"] {
  position: relative;
  padding: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 196, 0, 0);
  color: #6a116b;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd043;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}

button[type="submit"]:hover {
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0);
  border-color: #6a116b;
  color: #ffd043;
}

.form-signup {
  width: 100%;
  height: 100%;
  min-height: 1vh;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: #ffd043;
  font-weight: 200;
}

.form-signup input {
  z-index: 1;
  margin-bottom: 2px;
  border-radius: 50px;
  border-color: #00000000;
}

.form-signup input[type="password"] {
  margin-bottom: 8px;
}

.form-signup input:hover {
  color: #6a116b;
  border-color: #6a116b00;
}

.logo {
  display: block;
  max-width: auto;
  max-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

form .form-check {
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
  margin-left: 20px;
  color: #6a116b;
}

form .already {
  line-height: 20px;
  font-size: 14px;
  margin: 5px;
  color: #6a116b;
  background-color: #dcd1f3;
}

p a {
  text-decoration: underline;
}

p a:hover {
  color: rgb(255, 196, 0);
}

/* #upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: "Uploaded image result";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
} */
