header {
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
a[role="button"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.img {
  display: block;
  max-width: 20%;
  height: auto;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
