.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0px;
  padding: 10px;
  flex-shrink: 0;
  font-weight: 400;
  line-height: 1.5;
  position: fixed;
  font-family: "Comfortaa", cursive;
  /* font-family: "La Belle Aurore", cursive; */
}

.small_logo {
  display: flex;
  margin: auto;
  padding: auto;
}

.header_left_nav {
  display: flex;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 20px;
  list-style-type: none;
  /* padding-left: 0px;
  margin-left: 0px; */
}

.header_left_nav li a {
  margin-left: 20px;
  font-size: large;
  color: #000000;
}

.header_left_nav li a:hover {
  margin-left: 20px;
  background-color: transparent;
  color: #b61984;
  border-width: 0mm;
  text-decoration: underline;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  margin: auto;
  padding: 0px;
}
