a[role="button"] {
  font-size: large;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(255, 196, 0);
  width: 100%;
  height: 45%;
  border-width: 1px;
  border-radius: 50px;
  border-style: outset;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-top: 5px;
  border-color: transparent;
}

a[role="button"]:hover {
  background-color: rgba(255, 196, 0, 0);
  border-color: #6a116b;
  color: #6a116b;
}

.img {
  display: flex;
  max-width: 20%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba(117, 136, 187, 0.5);
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 300;
  line-height: 1.5;
}

.header_left_nav {
  display: flex;
  font-size: large;
  margin-right: auto;
  margin-left: 0px;
  margin-top: 20px;
  padding-left: 0px;
  list-style-type: none;
}

.header_left_nav li a {
  margin-left: 20px;
  color: #6a116b;
}
