.footer {
  margin-bottom: 0px;
  position: relative;
  background-color: white;
  width: 100%;
}

.footer_text {
  font-size: large;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  font-family: "Comfortaa";
  color: white;
  position: absolute;
  bottom: 0px;
}

.footer_wave {
  position: relative;
  bottom: 0px;
  width: 100%;
}
