.content{
    min-height: 100%;
    background-color: transparent;    
}

.block{
    padding:0%;
    margin: 0% 5%;
    font-family: 'Comfortaa'; 
}

hr{
    border: none;
    color: #b61984;
    background-color: #b61984;
    height: 3px;
    margin-top: 0px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.flexy{
    display: flex;
}

.post{
    border: 1px solid #b61984;
    width: 90%;
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comfortaa;
    border-radius: 20px;
    padding-bottom: 10px;
    background-color: white;
}

.post_user_logo{
    width:60px;
    border-radius: 50%;
    border: 1px solid #b61984;
    margin: 1%;
}

.flexy{
    display: flex;
}

.post_username{
    font-size: 24px;
    margin: auto 10px;
}

.post-genre{
    display: block;
    background: #b61984;
    box-shadow: 5px 2px 5px 2px #b61984;
    text-align: center;
    font-size: 30px;
    font-family: "La Belle Aurore";
    color:white;
    padding: 10px;
    margin-right: 0px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    width: 15%;
    z-index: 3;
}

.post_title{
    margin: 1%;
    font-size: 25px;
    font-weight: bold;
}

.post_text{
    margin: 1%;
    font-size: 17.5px;
}


.out_carousel{
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

.inner_carousel{
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 100%;
}

.post_carousel_img{
    height: 600px;
    max-height: max-content;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators button{
    background-color: #b61984!important;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  color: #b61984;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  color: #b61984;
}