.background {
  background-image: url(./pics/yellow_top_wave_01.png);
  background-size: 70% auto;
  background-color: white;
  background-repeat: no-repeat;
}

.content {
  min-height: 100%;
  background-color: transparent;
  width: 100%;
}

.block {
  padding: 0%;
  margin: 0% 5%;
  font-family: "Comfortaa";
}

hr {
  border: none;
  color: #b61984;
  background-color: #b61984;
  height: 3px;
  margin-top: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.flexy {
  display: flex;
}

main {
  font-family: "Comfortaa", cursive;
}

.content {
  min-height: 100%;
  background-color: transparent;
  width: 100%;
}

.body {
  height: 100%;
  width: 100%;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.violet_back {
  background-color: #dcd1f3;
  color: #b61984;
}

.yellow_back {
  background-color: #ffd043;
  color: #b61984;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.standart {
  font-size: 15px;
  font-weight: 300;
  color: #b61984;
  font-family: "Comfortaa", cursive;
  margin: 0px;
  width: 100%;
}

.bottom img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

a[role="button"].action_button {
  font-size: large;
  padding: 15px;
  margin: 5px;
  font-weight: 400;
  line-height: 0.5;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #b61984;
  border-color: #b61984;
  color: #ffffff;
  border-style: solid;
  border-width: 2px;
}

a[role="button"].action_button:hover {
  background-color: transparent;
  border-color: #b61984;
  color: #b61984;
  border-style: solid;
  border-width: 2px;
}

a[role="button"].on_page {
  width: 100%;
  height: 100%;
  padding: auto;
  margin-bottom: 17px;
  margin-top: 10px;
  font-size: medium;
  font-weight: 200;
}

.left {
  align-items: center;
  justify-content: left;
  margin: 0px;
  padding: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
}

.right {
  align-items: center;
  justify-content: right;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.canva {
  height: 100%;
  width: 100%;
  min-height: 0vh;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}

.title {
  font-family: "La Belle Aurore", cursive;
  color: #000000;
  font-size: 45px;
  font-weight: 55px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: auto;
}

.ava {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.page_content {
  width: 100%;
  position: relative;
  height: fit-content;
  margin: 0px;
  padding: 0 5%;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  margin-bottom: 8px;
  padding: 0px;
}

.table_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 340px;
}

.table_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.element {
  width: 100%;
  max-height: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
  border-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  text-decoration: transparent underline;
}
.element:hover {
  border-color: transparent;
  border-bottom: 1px solid#b61984;
  text-decoration: transparent underline;
}

.username {
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0px;
  font-size: large;
  color: #b61984;
}
.username:hover {
  color: #ffffff;
}

.song {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  font-size: large;
  color: #b61984;
}
.song:hover {
  color: #ffffff;
}

.genre {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  font-size: large;
  color: #b61984;
}

.genre:hover {
  color: #ffffff;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  color: #000000;
  padding: auto;
  /* margin: 10px;
  margin-left: 0px; */
  margin: auto;
  padding-bottom: 20px;
}

.sign_loc {
  margin: 0px;
  margin-right: -2%;
  padding: 0px;
}

.location_name {
  font-family: "La Belle Aurore", cursive;
  font-size: 20px;
  font-weight: 200;
  padding: 0px;
  padding-top: 20px;
  margin-left: -2%;
  color: #000000;
  position: static;
}
