main {
  /* margin: 0; */
  font-family: "Comfortaa", cursive;
  /* font-family: "La Belle Aurore", cursive; */
}

.content {
  min-height: 100%;
  background-color: transparent;
}

.body {
  height: 100%;
  width: 100%;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  /* color: #6a116b; */
  /* background-color: #dcd1f3; */
}

.violet_back {
  background-color: #dcd1f3;
  color: #b61984;
}

.yellow_back {
  background-color: #ffd043;
  color: #b61984;
  /* padding: 0px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.standart {
  font-size: 15px;
  font-weight: 300;
  color: #b61984;
  font-family: "Comfortaa", cursive;
  margin: 0px;
  /* padding: 0px; */
  width: 100%;
}

.bottom img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

a[role="button"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
  margin: 5px;
  background-color: transparent;
  color: #b61984;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
  border-radius: 50px;
  max-width: auto;
}

a[role="button"]:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border-style: solid;
  border-width: 3px;
  border-color: #b61984;
}

.left {
  align-items: center;
  justify-content: left;
  margin: 0px;
  padding: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
}

.right {
  align-items: center;
  justify-content: right;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.canva {
  height: 100%;
  width: 100%;
  min-height: 0vh;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}

.title {
  font-family: "La Belle Aurore", cursive;
  color: #000000;
  font-size: 45px;
  font-weight: 55px;
  margin: auto;
  margin-top: 20px;
  padding: auto;
}

.ava {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.page_content {
  width: 100%;
  position: relative;
  height: fit-content;
  margin: 0px;
  padding: 0 5%;
}
