main {
  /* margin: 0; */
  font-family: "Comfortaa", cursive;
  /* font-family: "La Belle Aurore", cursive; */
}

/* .main {
  background-color: #dcd1f3;
  width: 100%;
  margin: 0px;
  padding: auto;
} */

.body {
  height: 100%;
  width: 100%;
  min-height: 1vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* color: #6a116b; */
  /* background-color: #dcd1f3; */
}

/* .main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0px;
  padding: auto;
  min-height: 1hv;
  font-family: "Comfortaa", cursive;
} */

.violet_back {
  background-color: #dcd1f3;
  color: #b61984;
}

.yellow_back {
  background-color: #ffd043;
  color: #b61984;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.standart {
  font-size: 16px;
  font-weight: 300;
  color: #6a116b;
  font-family: "Comfortaa", cursive;
  margin: 0px;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 50px;
  max-width: auto;
  /* margin-left: 0px; */
  /* margin-right: 15px; */
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  max-width: auto;
  /* margin-bottom: 50px; */
}

a[role="button"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
  margin: 5px;
  background-color: rgba(255, 196, 0, 0);
  color: #6a116b;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd043;
  border-radius: 50px;
  max-width: auto;
}

a[role="button"]:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #ffd043;
  border-style: solid;
  border-width: 1px;
  border-color: #6a116b;
}

.back img {
  width: 100%;
  margin: 0px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* position: relative; */
}

.left {
  align-items: center;
  justify-content: left;
  margin: 0px;
  padding: 0px;
  /* padding-left: 10px; */
}

.right {
  align-items: center;
  justify-content: right;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.canva {
  height: 100%;
  width: 100%;
  min-height: 2vh;
  margin: 10px;
  margin-bottom: 20px;
  padding: auto;
}
